body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: 100vh;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
}

#starPopup {
    display: none; /* Hide the popup by default */
    position: absolute;
    padding: 10px;
    background: #80ccfe;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    z-index: 101; /* Ensures it's above other items */
    transform: translate(-50%, -50%); /* Adjusts the centering based on the popup's size */
    max-width: 300px; /* To prevent the popup from being too wide */
    box-shadow: 0 4px 8px rgba(57, 57, 57, 0.1); /* Optional: adds shadow for depth */
}

#filters {
    display: flex;
    position: absolute;
    top: 5%;
    margin: 0 2%;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px; /* Augmenter la marge intérieure pour plus d'espace */
    border-radius: 10px; /* Arrondir les coins pour un look plus moderne */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajouter une ombre légère pour la profondeur */
    z-index: 10;
  }

#filters button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #80ccfe; /* Couleur de fond pour les boutons */
    color: #fff; /* Couleur du texte pour une meilleure lisibilité */
}

#allStarsNumberDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #ccc; /* Ajouter une bordure pour un aspect plus défini */
}

#numberInput {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc; /* Ajouter une bordure pour un aspect plus défini */
    border-radius: 5px;
    width: 140px;
}

#showStars {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71; /* Couleur de fond pour le bouton "Afficher" */
    color: #fff; /* Couleur du texte pour une meilleure lisibilité */
}

#showStars:hover,
#filters button:hover {
    background-color: #80ccfe; /* Changement de couleur au survol pour un effet interactif */
}

#closePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e74c3c; /* Couleur de fond pour le bouton "Fermer" */
    color: #fff; /* Couleur du texte pour une meilleure lisibilité */
}

#closePopup:hover {
    background-color: #c0392b; /* Changement de couleur au survol pour un effet interactif */
    color: #141414;
    border: 1px solid #141414;
}